In [1]:
import pandas as pd
import math
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np

In [2]:
data =pd.read_csv("set1_Q5.csv")

In [3]:
data

      x    P
0 -2000  0.1
1 -1000  0.1
2     0  0.2
3  1000  0.2
4  2000  0.3
5  3000  0.1

In [6]:
m =max(data.shape)

In [7]:
m

6

In [12]:
avg =0
for i in range(0, m):
    avg=avg+data.iloc[i,0]*data.iloc[i,1]

In [13]:
avg

800.0